---
import { Icon } from 'astro-icon/components';
import site from '@data/setup.json';

const { post, collection } = Astro.props;
const capitalizedCollection =
  collection.charAt(0).toUpperCase() + collection.slice(1);
const collectionUrl = `/til/${collection}/`;
const postUrl = `/til/${collection}/${post.slug}/`;
---

<nav
  aria-label="Breadcrumb"
  class="flex justify-between"
>
  <a
    href="/"
    class="font-changa text-lg"
    >{site.title}</a
  >
  <ol
    role="list"
    class="flex text-sm"
  >
    <li class="flex items-center gap-2">
      <a
        href="#"
        class="text-gray-400 hover:text-gray-500"
      >
        <Icon
          name="collection-fill"
          class="me-1 inline align-middle"
        />
        <span>Today I Learned</span>
      </a>
    </li>
    <li class="flex items-center gap-2">
      <div class="flex items-center gap-2">
        <Icon
          name="slash-lg"
          class="ml-2"
        />
        <span>About</span>
        <a
          href={collectionUrl}
          class="text-gray-400 hover:text-gray-500"
          >{capitalizedCollection}</a
        >
      </div>
    </li>
    <li class="flex items-center gap-2">
      <div class="flex items-center gap-2">
        <Icon
          name="slash-lg"
          class="ml-2"
        />
        <span>How to</span>
        <a
          href={postUrl}
          aria-current="page"
          class="text-gray-400 hover:text-gray-500"
          >{post.data.title}</a
        >
      </div>
    </li>
  </ol>
</nav>
