---
import Layout from '@layouts/DefaultPage.astro';
import ArticleCard from '@components/ArticleCard.astro';
import Pagination from '@components/Pagination.astro';
import { paginateBlogPostsByYear } from '@utils/content';

export async function getStaticPaths() {
  const { getCollection } = await import('astro:content');
  const allPosts = await getCollection('blog');

  const years = Array.from(
    new Set(
      allPosts.map(post => new Date(post.data.date).getFullYear().toString()),
    ),
  );

  return years.map(year => ({
    params: { year },
  }));
}

const { year } = Astro.params;
const currentPage = 1;
const pageSize = 12;

const { posts, totalPages } = await paginateBlogPostsByYear(
  year,
  currentPage,
  pageSize,
);
---

<Layout title={`Blog posts from ${year}`}>
  <h1 class="mb-4">Posts from {year}</h1>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3">
    {posts.map(post => <ArticleCard post={post} />)}
  </div>
  <Pagination
    currentPage={currentPage}
    totalPages={totalPages}
    basePath={`/blog/${year}/`}
  />
</Layout>
