---
import ArticleCard from "@components/content/article/Preview.astro";
import BlogHeading from "@components/content/taxonomy/BlogHeading.astro";
import Pagination from "@components/layout/navigation/Pagination.astro";
import Layout from "@layouts/DefaultPage.astro";
import { getPostsSortedByDraft, paginateBlogPostsByYear } from "@utils/content.ts";

export async function getStaticPaths() {
  const { getCollection } = await import("astro:content");
  const allPosts = getPostsSortedByDraft(await getCollection("blog"));

  const years = Array.from(new Set(allPosts.map((post) => new Date(post.data.date).getFullYear().toString())));

  return years.map((year) => ({
    params: { year },
  }));
}

const { year } = Astro.params;
const currentPage = 1;
const pageSize = 12;

const { posts, totalPages } = await paginateBlogPostsByYear(year, currentPage, pageSize);
---

<Layout title={`Blog posts from ${year}`}>
  <BlogHeading
    title={`Blog Posts from ${year}`}
    posts={posts}
    level={1}
    description="Explore our collection of blog posts from this year."
  />
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3">
    {posts.map((post) => <ArticleCard post={post} />)}
  </div>
  <Pagination currentPage={currentPage} totalPages={totalPages} basePath={`/blog/${year}/`} />
</Layout>
