---
// create a single blog post with full content

import type { CollectionEntry } from 'astro:content';
export interface Props {
  post: CollectionEntry<'blog'>;
}

import PostImage from '@components/PostImage.astro';
import Giscus from '@components/Giscus.astro';
import Heading from '@components/Heading.astro';
import BreadCrumbs from '@components/BreadCrumbs.astro';
import PaginationSingle from '@components/PaginationSingle.astro';
import Meta from '@components/PostMeta.astro';
import SchemaBlogPost from '@components/schema/BlogPosting.astro';
import ShareSeparator from '@components/ShareSeparator.astro';
import Prose from '@components/Prose.astro';

const { post }: Props = Astro.props;
---

<article
  class="mt-8 rounded-(--card-radius) bg-zinc-100 p-(--card-padding) ring-1 ring-gray-900/10 [--card-padding:--spacing(1)] [--card-radius:var(--radius-2xl)] ring-inset hover:bg-zinc-100/90 dark:bg-zinc-900 dark:ring-gray-100/10 dark:hover:bg-zinc-900/90"
>
  <PostImage
    post={post}
    classes="max-w-full aspect-2/1 object-cover rounded-t-[calc(var(--card-radius)-var(--card-padding))]"
  />

  <div class="p-1 md:p-4">
    <!-- <p>{post.data.date.toLocaleDateString()}</p> -->
    <Heading
      level={1}
      class="heading"
      >{post.data.title}
    </Heading>
    <BreadCrumbs path={post.filePath} />
    <Prose post={post} />
    <ShareSeparator
      title={post.data.title}
      description={post.data.description}
    />
    <PaginationSingle post={post} />
    <Giscus post={post} />
    <Meta post={post} />
  </div>
  <SchemaBlogPost post={post} />
</article>
