---
// create a single blog post with full content

import type { CollectionEntry } from 'astro:content';

import { getCollection } from 'astro:content';

import PostImage from '@components/PostImage.astro';
import Giscus from '@components/Giscus.astro';
import Heading from './Heading.astro';
import BreadCrumbs from '@components/BreadCrumbs.astro';
import Prose from '@components/Prose.astro';

export interface Props {
  post: CollectionEntry<'blog'>;
}
const { post } = Astro.props;
const content = post.rendered?.html ?? '';

const posts = await getCollection('blog');

const currentIndex = posts.findIndex(p => p.id === post.id);
const nextPost = posts[currentIndex + 1];
const prevPost = posts[currentIndex - 1];
---

<article class="full-post is-page kind-page type-blog">
  <!-- <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "author": [
        {
          "@type": "Person",
          "name": "Patrick Kollitsch",
          "url": "https://www.linkedin.com/in/patrick-kollitsch/"
        }
      ],
      "dateModified": "2025-05-20T15:20:17+07:00",
      "datePublished": "2025-04-26T06:35:29+07:00",
      "headline": "The Case of the Unconnectable Docker Daemon",
      "image": [
        "https://kollitsch.dev/blog/2025/the-case-of-the-unconnectable-docker-daemon/docker-forensics.png"
      ]
    }
  </script> -->

  <PostImage post={post} classes="max-w-full"/>

  <Heading level={2} title={post.data.title} class="heading" />

  <p>{post.data.date.toLocaleDateString()}</p>

  <BreadCrumbs path={Astro.url.href} />
  <Prose set:html={content} />

  <div class="flex justify-between">
    {
      nextPost && (
        <a
          href={`/blog/${nextPost.id}/`}
          class="hover:underline"
        >
          ← {nextPost.data.title}
        </a>
      )
    }
    {
      prevPost && (
        <a
          href={`/blog/${prevPost.id}/`}
          class="hover:underline"
        >
          {prevPost.data.title} →
        </a>
      )
    }
  </div>

  <Giscus post={post} />

  <!-- <div class="section--meta" id="metainformation">
    <div class="d-flex flex-row gap-2">
      <div class="icon">
        <span class="icon--bootstrap icon--calendar3"
          ><svg width="20" height="20" class="icon icon-calendar3"
            ><symbol
              id="calendar3"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-calendar3"
              viewBox="0 0 16 16"
            >
              <path
                d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"
              ></path>
              <path
                d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
              ></path>
            </symbol><use href="#calendar3" width="20" height="20"></use>
          </svg>
        </span>
      </div>
      <div class="d-flex column-gap-2 flex-row flex-wrap gap-0">
        <span>Published: Sat, Apr 26, 2025 at 6:35am</span>
        <span class="align-self-end text-body-secondary text-small"
          >(Last Modified: Tue, May 20, 2025 at 3:20pm)</span
        >
      </div>
    </div>

    <div class="d-flex flex-row gap-2">
      <div class="icon">
        <span class="icon--bootstrap icon--github"
          ><svg width="20" height="20" class="icon icon-github"
            ><symbol
              id="github"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
              ></path>
            </symbol><use href="#github" width="20" height="20"></use>
          </svg>
        </span>
      </div>
      <div class="d-flex flex-row gap-2">
        <span
          >Git: <a href="">8bce49c7bb</a> / <a href="">History</a> / <a href=""
            >Blame</a
          ></span
        >
        <a
          href="https://some-site.com/edit/main/content/blog/2025/the-case-of-the-unconnectable-docker-daemon/index.md"
          target="_blank"
          rel="nofollow,noreferrer"
          ><span class="icon--bootstrap icon--vector-pen"
            ><svg width="20" height="20" class="icon icon-vector-pen"
              ><symbol
                id="vector-pen"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-vector-pen"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"
                ></path>
                <path
                  fill-rule="evenodd"
                  d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z"
                ></path>
              </symbol><use href="#vector-pen" width="20" height="20"></use>
            </svg>
          </span>

          Suggest edits on GitHub
        </a>
      </div>
    </div>

    <div class="d-flex column-gap-2 flex-row">
      <div class="icon">
        <span class="icon--bootstrap icon--tags"
          ><svg width="20" height="20" class="icon icon-tags"
            ><symbol
              id="tags"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-tags"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"
              ></path>
              <path
                d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"
              ></path>
            </symbol><use href="#tags" width="20" height="20"></use>
          </svg>
        </span>
      </div>
      <span>Tags: </span>
      <div class="d-flex column-gap-2 flex-row flex-wrap">
        <a rel="tag" href="https://kollitsch.dev/tags/100daystooffload/"
          >#100-days-to-offload
          <small>(143)</small></a
        >
        <span
          >#docker
          <small>(1)</small></span
        >
        <span
          >#forensics
          <small>(1)</small></span
        >
        <a rel="tag" href="https://kollitsch.dev/tags/troubleshooting/"
          >#troubleshooting
          <small>(3)</small></a
        >
      </div>
    </div><div class="d-flex flex-row gap-2">
      <div class="icon">
        <span class="icon--bootstrap icon--share-fill"
          ><svg width="20" height="20" class="icon icon-share-fill"
            ><symbol
              id="share-fill"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-share-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"
              ></path>
            </symbol><use href="#share-fill" width="20" height="20"></use>
          </svg>
        </span>
      </div>
      <div class="d-flex flex-row gap-2">
        <span> Share: </span>
        <span aria-hidden="true" class="icon"
          ><span class="icon--bootstrap icon--linkedin"
            ><svg width="20" height="20" class="icon icon-linkedin"
              ><symbol
                id="linkedin"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-linkedin"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
                ></path>
              </symbol><use href="#linkedin" width="20" height="20"></use>
            </svg>
          </span>
        </span><a
          href="https://www.linkedin.com/shareArticle?&mini=true&source=https%3A%2F%2Fkollitsch.dev%2Fblog%2F2025%2Fthe-case-of-the-unconnectable-docker-daemon%2F&summary=I+unravel%2C+Arthur+Conan+Doyle+style%2C+a+mystery+where+my+Docker+daemon+refuses+to+respond.+From+sneaking+into+group+permissions+and+examining+socket+ownership+to+navigating+Docker+contexts+and+rootless+environments%2C+I+follow+each+clue+until+the+service+speaks+again.&title=Welcome%21+This+is+KOLLITSCH.dev%2A.+The+online+playground+of+Patrick+Kollitsch%2C+David%E2%80%99s+Neighbour.++%E2%80%94++KOLLITSCH.dev%2A&url=https%3A%2F%2Fkollitsch.dev%2Fblog%2F2025%2Fthe-case-of-the-unconnectable-docker-daemon%2F"
          target="_blank"
          rel="noopener"
          aria-label="LinkedIn">LinkedIn</a
        >
        <span aria-hidden="true" class="icon"
          ><span class="icon--bootstrap icon--facebook"
            ><svg width="20" height="20" class="icon icon-facebook"
              ><symbol
                id="facebook"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-facebook"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
                ></path>
              </symbol><use href="#facebook" width="20" height="20"></use>
            </svg>
          </span>
        </span><a
          href="https://facebook.com/sharer/sharer.php?&u=https%3A%2F%2Fkollitsch.dev%2Fblog%2F2025%2Fthe-case-of-the-unconnectable-docker-daemon%2F"
          target="_blank"
          rel="noopener"
          aria-label="Facebook">Facebook</a
        >
      </div>
    </div>
  </div> -->
</article>
