---
// create a single blog post with full content

import type { CollectionEntry } from 'astro:content';

import PostImage from '@components/PostImage.astro';
import Giscus from '@components/Giscus.astro';
import Heading from './Heading.astro';
import BreadCrumbs from '@components/BreadCrumbs.astro';
import Prose from '@components/Prose.astro';
import PaginationSingle from '@components/PaginationSingle.astro';
import Meta from '@components/PostMeta.astro';

import SchemaBlogPost from '@components/schema/BlogPosting.astro';

export interface Props {
  post: CollectionEntry<'blog'>;
}
const { post } = Astro.props;
const content = post.rendered?.html ?? '';
---

<article class="full-post is-page kind-page type-blog">
  <PostImage post={post} classes="max-w-full"/>
  <Heading level={2} title={post.data.title} class="heading" />

  <p>{post.data.date.toLocaleDateString()}</p>

  <BreadCrumbs path={Astro.url.href} />
  <Prose set:html={content} />
  <PaginationSingle
    post={post}
  />
  <Giscus post={post} />
  <SchemaBlogPost post={post} />
  <Meta post={post} />
</article>
