---
import { Icon } from 'astro-icon/components';

let { href, link, name, classes = '' } = Astro.props;

if (link) {
  if (href) {
    console.warn(
      '[component] Both "link" and "href" provided. Ignoring "link".',
    );
  } else {
    console.warn(
      '[component] Deprecated "link" property used. Use "href" instead.',
    );
    href = link;
  }
}

const baseClasses = `
  inline-flex items-center gap-x-2
  rounded-md
  bg-red-600 text-white hover:bg-orange-600
  px-3.5 py-2.5
  text-sm shadow-xs
  focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600
`.trim();
---

{
  href ? (
    <a
      href={href}
      class={`${baseClasses} ${classes}`}
    >
      <slot />
      {name && <Icon name={name} />}
    </a>
  ) : (
    <button
      type="button"
      class={`${baseClasses} ${classes}`}
    >
      <slot />
      {name && <Icon name={name} />}
    </button>
  )
}
