---
import { getHomepageUrl } from '@utils/getHomepageUrl';
import { generateUniqueHtmlId } from '@utils/helpers';
import rawNavData from '@data/navigation.json';
import socialMediaData from '@content/social.json';
import IconLink from '@components/IconLink.astro';
import Heading from '@components/Heading.astro';
import setup from '@data/setup.json';
import type { IconName } from '@utils/icon-names';

const adjust = 1.9;
const titleLength = setup.title.length;
const titleFontSize = Math.floor((100 / titleLength) * adjust); // Adjust font size based on title length

const footerYearId = generateUniqueHtmlId();
const currentYear = new Date().getFullYear().toString();
const navData = rawNavData as Navigation;
---

<footer class={setup.classes.containers.main}>
  <div
    class="mt-8 mb-8 grid grid-cols-1 gap-8 border-t-1 border-t-gray-700 bg-gray-50 py-8 sm:grid-cols-2 md:grid-cols-6 dark:bg-gray-950"
  >
    <aside class="py-4 text-center sm:col-span-2 md:col-span-3 md:text-left">
      <h2 class="mb-4 text-xl">About</h2>
      <p>
        {setup.introduction}
      </p>
    </aside>
    <aside class="py-4">
      <Heading
        level={3}
        class="mb-4 text-center"
        >Navigation</Heading
      >
      <ul
        class="flex flex-row flex-wrap justify-center gap-2 p-4 sm:justify-end"
      >
        {
          navData.map(value => (
            <li>
              <IconLink
                href={value.link}
                icon={value.icon}
              >
                {value.label}
              </IconLink>
            </li>
          ))
        }
      </ul>
    </aside>
    <aside class="py-4 md:col-span-2">
      <Heading
        level={3}
        class="mb-4 text-center sm:text-right"
        >Connect</Heading
      >
      <ul class="flex flex-row flex-wrap justify-center gap-2 sm:justify-end">
        {
          socialMediaData.map(value => (
            <li>
              <IconLink
                href={value.url}
                icon={value.icon as IconName}
                target="_blank"
                rel="noopener noreferrer"
              >
                {value.label}
              </IconLink>
            </li>
          ))
        }
      </ul>
    </aside>
  </div>

  <div
    class="grid grid-cols-1 items-center justify-between border-t border-gray-800 pt-6 lg:grid-cols-3"
  >
    <span class="text-center lg:text-left"
      >&copy; <span id={footerYearId}>{currentYear}</span>
      <a href={getHomepageUrl()}>{setup.title}</a></span
    >
    <span class="text-center">All rights reserved.</span>
    <span class="text-center lg:text-right"
      >Webwork done by <a href="https://davids-neighbour.com/"
        >David's Neighbour</a
      ></span
    >
  </div>

  <div class="my-4 flex flex-row items-center justify-center gap-8 text-sm">
    <IconLink
      href="/privacy-policy/"
      icon="shield-check"
    >
      Privacy Policy
    </IconLink>
    <IconLink
      href="/security-policy/"
      icon="fingerprint"
    >
      Security Policy
    </IconLink>
  </div>
</footer>

<footer
  class="h-max-[8vw] overflow-y-hidden text-center"
  aria-hidden="true"
>
  <div
    class="font-changa text-center leading-none font-normal whitespace-nowrap text-gray-200/10 transition duration-2000 ease-in-out select-none hover:text-gray-200/50 dark:text-gray-800/10 dark:hover:text-gray-800/50"
    style={`font-size: ${titleFontSize}vw;`}
  >
    {setup.title}
  </div>
</footer>

<script is:inline define:vars={{ footerYearId }}>
  document.getElementById(footerYearId).innerText = new Date().getFullYear();
</script>
