---
// Import site information from the correct relative path
import siteInfo from '@data/setup.json';
import { getHomepageUrl } from '@utils/getHomepageUrl';
import { generateUniqueHtmlId } from '@utils/helpers';
import navData from '@data/navigation.json';
import socialMediaData from '@data/socialmedia.json';
import FooterTitle from './FooterTitle.astro';
import IconLink from '@components/IconLink.astro';
import Heading from '@components/Heading.astro';

const footerYearId = generateUniqueHtmlId();
const currentYear = new Date().getFullYear().toString();
---

<section
  class="mt-8 border-t-1 border-t-slate-700 bg-gray-50 py-8 dark:bg-stone-900"
>
  <footer
    class="z-0 mx-auto mt-8 max-w-full lg:max-w-3xl xl:max-w-5xl 2xl:max-w-7xl"
  >
    <div class="mb-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
      <div class="sm:col-span-2">
        <h3 class="mb-4 text-xl">About</h3>
        <p>
          {siteInfo.introduction}
        </p>
      </div>
      <aside class="">
        <Heading level={3} class="mb-4">Navigation</Heading>
        <ul class="flex flex-col gap-2">
          {
            navData.map(value => (
              <li>
                <IconLink href={value.link} icon={value.icon}>
                  {value.label}
                </IconLink>
              </li>
            ))
          }
        </ul>
      </aside>
      <aside class="">
        <Heading level={3} class="mb-4">Connect</Heading>
        <ul class="flex flex-col gap-2">
          {
            socialMediaData.map(value => (
              <li>
                <IconLink href={value.url} icon={value.icon} target="_blank" rel="noopener noreferrer">
                  {value.label}
                </IconLink>
              </li>
            ))
          }
        </ul>
      </aside>
    </div>

    <div
      class="flex flex-row items-center justify-between border-t border-gray-800 pt-6"
    >
      <span
        >&copy; <span id={footerYearId}>{currentYear}</span>
        <a href={getHomepageUrl()}>{siteInfo.title}</a></span
      >
      <span>All rights reserved.</span>
      <span
        >Webwork done by <a href="https://davids-neighbour.com/"
          >David's Neighbour</a
        ></span
      >
    </div>
  </footer>
</section>

<FooterTitle />

<script is:inline define:vars={{ footerYearId }}>
  document.getElementById(footerYearId).innerText = new Date().getFullYear();
</script>
