---

import { createDefaultPost } from '@utils/createDefaultPost';
import setup from '@data/setup.json';

interface Props extends PostProp<'blog'> {}
let { post }: Props = Astro.props;

// @todo ensure we have a post object and remove if not required
if (!post?.data) {
  post = { ...post, data: createDefaultPost(post) };
}

// https://docs.astro.build/en/guides/view-transitions/
import { ClientRouter } from 'astro:transitions';

// individual head components
import ThemeManager from '@components/ThemeManager.astro';
import Favicon from '@components/head/Favicon.astro';
import FontsPreload from '@components/head/FontsPreload.astro';
import Meta from '@components/head/Meta.astro';
import OpenGraph from '@components/head/OpenGraph.astro';
import WebComponents from '@components/head/WebComponents.astro';
import { resolvePostTitle } from '@utils/postData';

const baseUrl = import.meta.env.BASE_URL;
const title = resolvePostTitle(post);

---

<meta charset={setup.head.defaults.charset || 'utf-8'} />
<meta name="viewport" content={setup.head.defaults.viewport || 'width=device-width, initial-scale=1.0'} />
<title>{title}</title>
<base href={baseUrl} target="_self" />
<meta name="description" content={post.data.description || setup.description} />

<FontsPreload />
<OpenGraph post={post} />
<ClientRouter />
<ThemeManager defaultTheme="auto" />
<Favicon />
<Meta />
<WebComponents post={post} />
<meta name="generator" content={Astro.generator} />
<script is:inline src="https://analytics.ahrefs.com/analytics.js" data-key="6egIzeM29mbgAsLIeV3Z4g" async></script>
