---
type Tag = 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';
const { title, level = 1, description, link = "", class: classname = ""} = Astro.props;

const safeLevel = Math.min(6, Math.max(1, Number(level)));
const Tag = `h${safeLevel}` as Tag;
---

<Tag title={description} class={classname}>
  {link
    ? <a href={link}>{title}</a>
    : title}
</Tag>
