---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

type IconPosition = 'prefix' | 'postfix';

type Props = {
  icon: string;
  type?: IconPosition;
  class?: string;
} & HTMLAttributes<'a'>;

// @todo make sure to add a class to the whole container, the icon or the slot
const { type = 'prefix', icon, class: classes, ...attrs }: Props = Astro.props;
const hasSlot = !!Astro.slots.default;
---

<a href={attrs.href} class="flex items-center gap-2" translate="no" {...attrs}>
  {type === 'prefix' && <Icon name={icon} class={classes} />}
  {hasSlot && <span><slot /></span>}
  {type === 'postfix' && <Icon name={icon} class={classes} />}
</a>
