---
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}
const { post } = Astro.props;

const allPosts = await getCollection('blog', ({ data }) => !data.draft);
const posts = [...allPosts].sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

const currentIndex = posts.findIndex(p => p.id === post.id);
const nextPost = posts[currentIndex + 1];
const prevPost = posts[currentIndex - 1];
---

<nav
  aria-label="Post navigation — browse older or newer posts"
  class="mt-4 flex items-center justify-between border-t border-gray-300 px-4 text-base sm:px-0 dark:border-gray-700"
>
  <div class="-mt-px">
    {
      nextPost && (
        <a
          href={`/blog/${nextPost.id}/`}
          class="inline-flex items-center pt-4 pl-1 dark:border-gray-700"
          aria-label={`Go back in time to the post called ${nextPost.data.title}`}
        >
          <Icon
            name="arrow-left"
            class="mr-2"
            aria-hidden="true"
          />
          <span class="group relative inline-block">
            <span>{nextPost.data.title}</span>
            <span class="pointer-events-none absolute -top-4 -right-20 bottom-full mb-2 rounded p-2 font-mono text-xs text-gray-500 uppercase opacity-0 transition-opacity duration-500 group-hover:opacity-100">
              Back in time
            </span>
          </span>
        </a>
      )
    }
  </div>

  <div class="-mt-px">
    {
      prevPost && (
        <a
          href={`/blog/${prevPost.id}/`}
          class="inline-flex items-center pt-4 pl-1 dark:border-gray-700"
          aria-label={`Go back in time to the post called ${prevPost.data.title}`}
        >
          <span class="group relative inline-block">
            <span>{prevPost.data.title}</span>
            <span class="pointer-events-none absolute -top-4 bottom-full -left-20 mb-2 rounded p-2 font-mono text-xs text-gray-500 uppercase opacity-0 transition-opacity duration-500 group-hover:opacity-100">
              Forward in time
            </span>
          </span>
          <Icon
            name="arrow-right"
            class="ml-2"
            aria-hidden="true"
          />
        </a>
      )
    }
  </div>
</nav>
