---
import type { CollectionEntry } from 'astro:content';

import { getGithubInfo } from '@utils/github';
import { Icon } from 'astro-icon/components';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post }: Props = Astro.props;
const github = post.filePath ? getGithubInfo(post.filePath) : null;
---

{
  github && (
    <div class="flex flex-row items-center justify-start gap-2">
      <div class="w-6 flex-none">
        <Icon name="github" />
      </div>
      <div class="flex flex-row flex-wrap items-center justify-start gap-2">
        Git:
        {!github?.hash ? (
          <span class="font-jetbrainsmono text-sm uppercase">UNTRACKED</span>
        ) : github?.commitUrl ? (
          <a
            href={github.commitUrl}
            class="font-jetbrainsmono text-sm uppercase"
          >
            {github.hash}
          </a>
        ) : (
          <span class="font-jetbrainsmono text-sm uppercase">
            {github.hash}
          </span>
        )}
        <Icon
          name="slash-lg"
          class="stroke-orange-950"
        />
        <a href={github?.historyUrl}>History</a>
        <Icon
          name="slash-lg"
          class="stroke-orange-950"
        />
        <a href={github?.blameUrl}>Blame</a>
        <Icon
          name="slash-lg"
          class="stroke-orange-950"
        />
        <a href={github?.editUrl}>Suggest edits on GitHub</a>
      </div>
    </div>
  )
}
