---
const { post } = Astro.props;

import { getGithubInfo } from '@utils/github';
const github = getGithubInfo(post.filePath);
import { Icon } from 'astro-icon/components';
---

{
  github && (
    <div class="flex flex-row items-center justify-start gap-2">
      <div class="w-6 flex-none">
        <Icon name="github" />
      </div>
      <div class="flex flex-row flex-wrap items-center justify-start gap-2">
        Git:
        <a href={github?.commitUrl}>{github?.hash}</a> /
        <a href={github?.historyUrl}>HISTORY</a> /
        <a href={github?.blameUrl}>BLAME</a> /
        <a href={github?.editUrl}>Suggest edits on GitHub</a>
      </div>
    </div>
  )
}
