---
import "@styles/theme.css";
import ArticleCard from "@components/article/Preview.astro";
import Div from "@components/fragments/Div.astro";
import Heading from "@components/Heading.astro";
import Layout from "@layouts/ContentPageTest.astro";
import { getHomepagePosts } from "@utils/content.ts";

const { featuredPost } = await getHomepagePosts();
---

<Layout>
  <Heading>3XS</Heading>
  <Div class="max-w-3xs">
    <ArticleCard post={featuredPost} />
  </Div>
  <Heading>2XS</Heading>
  <Div class="max-w-2xs">
    <ArticleCard post={featuredPost} />
  </Div>
  <Heading>XS</Heading>
  <Div class="max-w-xs">
    <ArticleCard post={featuredPost} />
  </Div>
  <Heading>SM</Heading>
  <Div class="max-w-sm">
    <ArticleCard post={featuredPost} />
  </Div>
  <Heading>MD</Heading>
  <Div class="max-w-md">
    <ArticleCard post={featuredPost} />
  </Div>
  <Heading>LG</Heading>
  <Div class="max-w-lg">
    <ArticleCard post={featuredPost} />
  </Div>
  <Heading>XL</Heading>
  <Div class="max-w-xl">
    <ArticleCard post={featuredPost} />
  </Div>
  <Heading>2XL</Heading>
  <Div class="max-w-2xl">
    <ArticleCard post={featuredPost} />
  </Div>
  <Heading>3XL</Heading>
  <Div class="max-w-3xl">
    <ArticleCard post={featuredPost} />
  </Div>
  <Heading>4XL</Heading>
  <Div class="max-w-4xl">
    <ArticleCard post={featuredPost} />
  </Div>
</Layout>
